// sizes
$app-width: 1200px;

//// colors

// text colors
$app-text-color--alpha: #fff;

// background colors
$app-background-color__gray--alpha: #000;
$app-background-color__gray--beta: rgba(34, 34, 34, 0.4);
$app-background-color__gray--theta: #d7d7d7;
